.coor {
	position: relative;
	width: 250px;
	height: 250px;
	background: black;
}

.folder {
	width: 256px;
	height: 256px;
	background: url(img/close-folder.png);
}

.block {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 5px;
	border: 1px solid black;
}

.float {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	top: 0px;
	margin-left: -25px;
	background: red;
}

.triger_box {
	width: 160px;
	height: 60px;
	padding-top: 2px;
	background: DarkBlue;
}

.triger {
	position: relative;
	width: 50px;
	height: 50px;
	margin: 4px;
	border-radius: 15px;
	background: Peru;
}