body, body * {
	margin: 0;
	padding: 0;
}

a {
	display: block;
	font-family: 'Open Sans', sans-serif;
}

.wraper {
 	width: 1060px;
 	margin: auto;
}

.shadow {
	box-sizing: border-box;
 	padding: 0px 46px 60px 46px;
 	box-shadow: 0px 0px 3px 3px rgb(219, 219, 219);
}


/*HEAD*/


.header {
 	padding-top: 50px;
}

.logo {
  	width: 145px;
  	height: 40px;
  	margin-bottom: 40px;
}

.menu {
	height: 40px;
	background: linear-gradient( to top, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
	margin-bottom: 40px;
}

.menu_item {
	display: inline-block;
	height: 20px;
	padding-left: 25px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
  	color: rgb(255, 255, 255);
	font-size: 11pt;
	text-decoration: none;
}

.menu a:hover {
	padding-left: 24px;
	padding-right: 44px;
	border-right: 1px #838383 solid;
	border-left: 1px #838383 solid;
	background: #484848;
}


/*BODY*/


.container {
}

.left_bar {
	position: absolute;
	float: left;
	width: 240px;
}

ul {
	list-style: none;
	padding-left: 0px;
}

li {
	display: inline-block;
	width: 240px;
	height: 40px;
	font-size: 10pt;
	border: 1px solid #c8c8c8 ;
	border-bottom: 0px;
	padding-left: 20px;
}

li:last-child {
	border-bottom: 1px solid #c8c8c8;
}

li:hover {
	width: 225px;
	padding-left: 35px;
	background: #f9f9f9;
}

li > a {
	padding: 12px 0px 12px 0px;
	color: rgb(99, 99, 99);
	text-decoration: none;
}

li > a:hover {
	color: rgb(44, 44, 44);
}

.content {
	width: 675px;
	margin-left: 290px;
}

.content > img {
	border: 1px solid rgb(200, 200, 200);
}

p {
	font-size: 10pt;
	font-family: 'Open Sans', sans-serif;
}


/*FOOTER*/


.footer {
	height: 40px;
	width: 100%;
	background-image: linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
	background: #e1e1e1;
	margin-top: 60px;
}

.footer_item {
	margin-left: 25px;
	margin-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	color: #2c2c2c;
}

.footer a:hover {
	text-decoration: underline;
}

.cop {
	float: right;
	margin: 10px 25px 10px 0px;
}